.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
    gap: 3rem;
}


.navigation__link:hover{
    border-bottom:  2px solid #ff0000;

}

.navigation__contact{
    border:  2px solid #ff0000;
    padding: 1rem 2rem;
}

.navigation__contact:hover{
    background-color: #ff0000;
    color: #fff;
}

.banner{
    height: 600px;
    overflow: hidden;
    position: relative;
}

.banner>h1{
    position: absolute;
    top: 50%;
    left: 600px;
    color: #FFD700;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.banner>img{
    background-color: rgba(0, 0, 0, 0.5);
}

.sub-banner{
    height: 600px;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}

.sub-banner>h3{
    position: absolute;
    top: 300px;
    left: 400px;
    color: #fff;
    font-size: xx-large; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.sub-banner>img{
    background-color: rgba(0, 0, 0, 0.7);
}
